<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:insert="~{sdn}">
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>
<div th:insert="~{navbar}"></div>
<div class="container">
  <br>

  <b><h2 style="color: #0a53be">Программа контроля и учета</h2></b>
  <h6>отдел собственного вещания</h6>
  <br>
  <h4>Привет <span th:text="${#authentication.principal.name}"></span>!</h4>
  <br>

  <div th:if="${param.success}" class="alert alert-success col-6" role="alert">
    Пароль изменен!
  </div>

    <table class="table table-striped table-hover col-6 me-auto">
      <tr>
        <td>
          <h5><a style="text-decoration: none" href="/channelErrors"> Количество не отработанных
            событий с каналами: </a></h5>
        </td>
        <td>
          <h5><b><span th:text="${countChannelErr}"></span></b></h5>
        </td>
      </tr>
      <tr sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_ENGINEER')">
        <td>
          <h5><a style="text-decoration: none" href="/deviceErrors"> Количество не отработанных
            событий с оборудованием: </a></h5>
        </td>
        <td>
          <h5><b><span th:text="${countDeviceErr}"></span></b></h5>
        </td>
      </tr>
      <tr sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_ENGINEER')">
        <td>
          <h5><a style="text-decoration: none" href="/tasks">Количество не завершенных задач:
          </a></h5>
        </td>
        <td>
          <h5><b><span th:text="${countTasks}"></span></b></h5>
        </td>
      </tr>
    </table>

  <div sec:authorize="hasAnyRole('ROLE_OPERATOR')">
    <br>
    <h4>Ваши каналы:</h4>
    <table class="table table-striped table-hover col-6 me-auto">
      <thead>
      <tr>

        <th>Название</th>
        <th>Тип</th>
        <th>Входной адресс</th>
        <th>Выходной адрес</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="channel : ${channels}">
        <td th:text="${channel.name}"></td>
        <td th:text="${channel.type}"></td>
        <td th:text="${channel.inAddress}"></td>
        <td th:text="${channel.outAddress}"></td>
      </tr>
      </tbody>
    </table>

  </div>


</div>
</body>
</html>