<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{sdn}">
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>
<div th:insert="~{navbar}"></div>
`
<div class="container col-5">
  <br>
  <div th:if="${param.re_pass_error}" class="alert alert-danger container" role="alert">
    Пароли не совпадают!
  </div>
  <div th:if="${param.pass_error}" class="alert alert-danger container" role="alert">
    Не правильный действующий пароль!
  </div>
  <div th:if="${param.success}" class="alert alert-success container" role="alert">
    Пароль изменен!
  </div>
  <br>
  <form th:action="${'/userEditPassword'}" method="post">

    <h3>Изменение пароля</h3>
    <br>
    <label class="form-label">Текущий пароль</label>
    <input name="password" required type="password" class="form-control">
    <br>
    <label class="form-label">Новый пароль</label>
    <input name="new_password" required type="password" class="form-control">
    <label class="form-label">Повторите новый пароль</label>
    <input name="re_new_password" required type="password" class="form-control">

    <input type="hidden" name="id" th:value="${#authentication.principal.id}">
    <br>
    <button class="btn btn-success">Изменить</button>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена
    </button>

  </form>
</div>
</body>
</html>